<div class="todo" [class.done]="toDo$.status">
    <div class="todo-content">
        <div class="todo-content-handle">
            <img src="./assets/svg/Drag-Handle.svg">
        </div>
        <div class="todo-content-check">
            <img *ngIf="!toDo$.status" (click)="changeCheck($event)" src="./assets/svg/Checkbox_empty.svg">
            <img *ngIf="toDo$.status" (click)="changeCheck($event)" src="./assets/svg/Checkbox_checked.svg">
        </div>
        <div class="todo-content-title">
            <input type="text" (blur)="changeLabel($event)" [(ngModel)]="toDo$.label" [attr.disabled]="!toDo$.status ? null : true" placeholder="To-Do-Punkt">
        </div>
    </div>
    <div class="delete" (click)="deleteToDo($event)">
        <span>Löschen</span>
    </div>
</div>